@import "~antd/dist/antd.dark.less";

@primary-color: rgba(232, 234, 237, 1);
@btn-primary-color: rgba(32, 33, 36, 1);

@text-color: rgba(255, 255, 255, 0.9);

@info-color: #454547;
@btn-info-color: red;

@secondary-color: #37383a;
@btn-secondary-color: white;

@font-size-base: 16px; // major text font size
@mobile: ~"only screen and (min-width: 360px) and (max-width: 720px)";

//layout
@layout-header-background: #202124;
@layout-sider-background: #2b2c2e;
@layout-body-background: #2b2c2e;

body {
    font-family: iranyekan;
    background-color: #202124;
  }
  
  .ant-layout-header {
    background: #202124;
  }
  
  .ant-layout-content {
    background: #202124;
  }
.first {
    background-color: #202124;
}